*{
    margin: 0;      /*默认外边距为0*/
    padding: 0;     /*默认内边距为0*/
    box-sizing: border-box;     /*盒子大小不受内外边距影响*/
    list-style: none;           /*无标记类型*/
}
body{
    background-image: linear-gradient(to top,#9795f0 0%,#fbc8d4 100%);      /*设置背景渐变色*/
    height: 100vh;
    display: flex;          /*弹性布局*/
    align-items: center;  /*垂直居中*/
    justify-content: center;  /*水平居中*/
    flex-direction: column;
}
.box1{
    /* width: 100px; */
    /* height: 100%; */
    /* background-color: red; */
    padding: 5px;
    margin: 5px;
}
td{
    /* padding: 5px; */
    text-align: center;
    border-radius: 100%;
    width: 55px;
    height: 55px;
}
#title{
    text-align: left;
    height: 10vh;
    font-size: 25px;
    font-weight: 650;
}
td:hover{
    background-image: linear-gradient(to top,#9795f0 25%,#fbc8d4 100%);
}